.header {
    padding: 20px;
    text-align: center; 
    background: #1abc9c; 
    color: white; 
    width: auto;
}

.header h1 {
    font-size: 50px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container{
    position: relative;
}
.container img{
    width: 100%;
    display: flex;
    border-radius: 20px 20px 0 0;
}
.container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.6;
}
.card1>.container:after{
    background-image: linear-gradient(135deg, #0100ec,#fb36f4);
}
.card2>.container:after{
    background-image: linear-gradient(135deg, #bff822, #42ffdb);
}
.card3>.container:after{
    background-image: linear-gradient(135deg,#890cc4,#f8501c);
}
.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.tags {
    margin-left: 70px;
}

.tags .Visitbtn {
    font-weight: 700;
    font-size: 5px;
    color: #7a7a8c;
    font-size: 12px;
    border: 3px solid #28242f;
    border-radius: 12px;
    padding: .2rem .85rem .25rem;
    border: 2px solid #1abc9c;
}

.tags .Visitbtn:hover {
    background: linear-gradient(90deg,#ff8a00,#da0909);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-clip: text;
    border-color: #3498db;
}

.tags .Visitbtn {
    background-color: #1a1b1b;
    border-radius: 50px;
}

.tags .Visitbtn:focus {
    outline: none;
}