
.header {
    padding: 20px;
    text-align: center; 
    background: #1abc9c; 
    color: white; 
    width: auto;
    height: 1%;
}
h2{
    color: white;
}
span{
    color: white;
}
.header h1 {
    font-size: 50px;
}

.cards4{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(235px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card4{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.container4{
    position: sticky;
}
img{
    width: 5%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.container4:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}
.card5>.container:after{
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
}

.details4{
    padding: 20px 10px;
}
.details4{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details4{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.tags4 {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags4 button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #7a7a8c;
    border-radius: 2rem;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 1.4%;

}

.tags4 button:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.Visitbtn {
    background-color: rgba(249, 249, 250);
    border-radius: 50px;
}

.Visitbtn:focus {
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

.inputLabel1 {
    color: brown;
    font-size: large;
}

.inp1 {
    text-align: center;
}

.todoitems1 {
    text-align: center;
    padding: 5px;
    color: blue;
}

.inputfield1 {
    border-radius: 5px;
    margin: 10px;
}

.inputfield1:focus {
    outline: none;
}

.submitbtn1 {
    background-color: lime;
    border-radius: 50px;
}

.submitbtn1:focus {
    outline: none;
}

/*
body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}
*/

.card-list1 {
    display: inline-flex;
    padding: 1px;
    margin-right: -75px;
    /* overflow-x: scroll;
    overflow-y: scroll; */
}


.card-list1::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list1::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list1::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card1 {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 300px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #130136;
    box-shadow: -1rem 0 3rem #000;
    transition: .2s;
}

.card1:hover {
    transform: translateY(-1rem);
}

.card1:hover~.card {
    transform: translateX(130px);
}

.card1:not(:first-child) {
    margin-left: -130px;
}

.card-header1{
    margin-bottom: auto;
}

.card-header1 p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header1 h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}

.card-header1 h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tags1 {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags1 button {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags1 button:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}
.author-name-1{
    color: white;
}